.third_section {
    text-align: center;
    background-color: #f4f4f4;
    padding: 40px 0;
  }
  
  .third_section_wrapper_text {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .third_section_wrapper {
    width: 80%;
    margin: 0 auto;
  }
  
  .third_section_cards {
    padding: 0 25px; /* Половина отступа для создания 50px между карточками */
    box-sizing: border-box;
  }
  
  .third_section_wrapper_card {
    background: #fdfdfd;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
  }
  
  .third_section_card_img {
    width: 100px;
    margin-bottom: 10px;
    margin-left: 30%;
  }
  
  .third_section_card_paragraph {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .third_section_card_title,
  .third_section_card_title2 {
    margin: 5px 0;
  }
  
  .third_section_card_link_title {
    margin-top: 10px;
  }
  
  .third_section_card_link {
    color: blue;
    text-decoration: none;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-dots {
    bottom: -30px;
  }
  

  @media (max-width: 620px) {
    .third_section_wrapper_card{
      width: 180px;
    }
    .third_section_card_img{
      margin-left: 40px;
    }

  }

  @media (max-width: 600px){
    .third_section_wrapper_card{
      width: 300px;
      margin-left: 50px;
    }
    .third_section_card_img{
      margin-left: 100px;
    }
  }

  @media (max-width: 560px){
    .third_section_wrapper_card{
      margin-left: 25px;
    }
  }

  @media (max-width: 520px){
    .third_section_wrapper_card{
      margin-left: 15px;
    }
  }