
  @import url('https:fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
              /* outline: 1px solid rgb(255, 0, 0); */
  }


.first_section{
    height: 402px;
    width: 100%;
    font-family: 'Roboto';
    background-image: url('../images/png/BackGroundLighting.png');
    background-repeat: no-repeat
}




.first_section_wrapper{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.first_section_image{
    width: 90%;
    margin-top: 50px;
}

.first_section_item_text{
    margin-top: 7rem;
    color: white;
}

.first_section_item_title{
    font-size: 96px;
    font-weight: 700;
}

.first_section_item_paragraph{
    font-size: 48px;
    font-weight: 300;;
}

.second_section_items_paragraph_text{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-left: -600px;
}

.second_section_items_title:last-child{
    color: #9A9CA5;
}

.second_section_items_title{
    margin-left: 5px;
}

.second_section_paragraph_item{
    color:  #28303F;
    font-size: 40px;
    font-weight: 600;
}

.second_section_items_paragraph_text2{
    margin-top: 46px;
    display: flex;
    justify-content: center;
}

.second_section{
    font-family: 'Roboto';
}

.text-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .text-container.show {
    opacity: 1;
  }

.second_section_items_paragraph_chapters{
    display: flex;
    margin-top: 58px;
    margin-left: -29em;
    transition: all 900ms ease;
}

.second_section_items_chapter_item{
    font-size: 22px;
    font-weight: 300;
    margin-right: 20px;
    background-color: transparent;  
    border: none;
    transition: all 900ms ease;
}


.second_section_items_chapter_item:active{
    color: #495AFF;
}

.button-plus-hr{
    display: flex;
    justify-content: center;
}

.second_section_items_paragraph_chapters div{
    margin-left: 10px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: all 600ms ease;
    display: flex;
    justify-content: center;
}

.band{
    width: 90%;
    margin-left: 6em;
}

.band-hr{
    height: 4px;
    background-color: #eeeeee;
    border: none;
    margin-top: -2px;
}

.active{
    color: #495AFF;
}

.second_section_image{
    width: 400px;
    margin-top: 12%;
    margin-left: -80%;
}

.second_section_items_second{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text_first_paragraph{
    margin-top: 66px;
    font-size: 34px;
    font-weight: 600;
}

.text_first_title_first{
    width: 90%;
    font-size: 17px;
    font-weight: 400;
    margin-top: 33px;
}

.text_first_title_second{
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
}



.second_section_text_title{
    font-size: 27px;
    font-weight: 300;
    margin-top: 30px;
    margin-right: 10px;
}

.second_section_text_image_first{
    width: 75px;
    margin-right: 15px;   
}

.second_section_text_image_second{
    margin-top: -20px;
    width: 75px;
    margin-right: 15px;
}


.second_section_second_text_second{
    margin-top: 37px;
    display: flex;
}
.second_section_items_second_text{
    flex-wrap: wrap;
    position: absolute;
    width: 50%;
    margin-left: 50%;
}

.second_section_second_third_title{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
    width: 90%;
}

.second_section_second_third_title:first-child{
    margin-top: 40px;
}

.second_section_second_third_button{
    background-color:  #495AFF;
    border: none;
    color: white;
    border-radius: 40px;
    margin-top: 45px;
    width: 180px;
    height: 50px;
}

.second_section_second_third_button:hover{
    background-color:  transparent;
    border: 2px solid #495AFF;
    color: black;
    border-radius: 40px;
    width: 180px;
    height: 50px;
    transition: 400ms;
}

.second_section_second_third_button:active{
    transform: scale(1.06);
}

.third_section{
    width: 100%;
    font-family: 'Roboto';
    height: 510px;
    background-color:  #D6E2F3;
    margin-top: 90px;
    display: flex;
    justify-content: center;

}

.third_section_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}



.third_section_wrapper_text{
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    margin-top: 69px;
    display: flex;
    justify-content: center;
}


.third_section_cards{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.third_section_wrapper{
    position: absolute;
    margin-left: -40%;
}

.four_section{
    font-family: 'Roboto';
    height: 665px;
}

.four_section_wrapper_title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    margin-top: 69px;
}

.four_section_wrapper_text_title{
    font-size: 130%;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 60px;
    z-index: 100;
}
.four_section_wrapper_text_title1{
    font-size: 130%;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 60px;
    z-index: 100;
}

.four_section_wrapper_img{
    margin-top: 5%;
    width: 70%;
    position: relative;
    z-index: 10;
    margin-right: 5%;
}

.four_section_wrapper{
    display: flex;
    justify-content: center;
    margin-left: -30%;
}

.four_section_wrapper_text{
    margin-top: 50px;
    width: 40%;
}

.fife_section{
    font-family: 'Roboto';
    text-align: center;
    height: 665px;
    position: absolute;
    width: 100%;
}

.four_section_text_img{
    margin-right: 20px;
}

.fife_section_wrapper_card{
    border-radius: 20px;
    margin-right: 28px;
    width: 550px;
    height: 350px;
    background-color: #F5F8FB;
    margin-top: 56px;
    flex-wrap: wrap;
}

.second_section_items_second_image{
    margin-right: 30px;
    display: flex;
    justify-content: start;
}


.fife_section_wrapper{
    display: flex;
    justify-content: center;
}

.fife_section_wrapper_title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 62px;
}

.fife_section_wrapper_card_img1{
    width: 260px;
    margin-top: -230px;
    margin-left: 15px;
    position: absolute;
    z-index: 1;
}

.fife_section_wrapper_card_img2{
    width: 230px;
    margin-top: -200px;
    margin-left: 45px;
    position: absolute;
    z-index: 1;
}

.button_box{
    margin-left: -60px;
    margin-top: 30px;
}

.fife_section_wrapper_card_title{
    width: 300px;
    text-align: left;
    margin-left: 41px;
    margin-top: 45px;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    line-height: 25px;
}

.fife_section_wrapper_card_paragraph{
    font-size: 40px;
    font-weight: 600;
    margin-left: -320px;
    margin-top: 50px;
}

.fife_section_wrapper_card_paragraph1{
    font-size: 40px;
    font-weight: 600;
    margin-left: -320px;
    margin-top: 50px;
}



.fife_section_wrapper_card_button2{
    z-index: 2;
    position: relative;
    margin-top: 140px;
    width: 180px;
    height: 60px;
    background-color: #495AFF;
    color: white;
    border: none;
    border-radius: 30px;
}

.fife_section_wrapper_card_button1{
    z-index: 2;
    position: relative;
    width: 180px;
    height: 60px;
    background-color: transparent;
    color: black;
    border: 2px solid #495AFF;
    border-radius: 30px;
    margin-right: 50px;
}

.fife_section_wrapper_card_button1:hover{
    z-index: 2;
    position: relative;
    background-color:#495AFF;
    color: white;
    border-radius: 30px;
    transition: 900ms;
}

.fife_section_wrapper_card_button2:hover{
    z-index: 2;
    position: relative;
    background-color: transparent;
    color: black;
    border: 2px solid #495AFF;
    border-radius: 30px;
    transition: 900ms;
}

.fife_section_wrapper_card_button2:active{
    transform: scale(0.96);
    transition: 50ms;
}

.fife_section_wrapper_card_button1:active{
    transform: scale(0.96);
    transition: 50ms;
}

.fife_section_wrapper_card:hover{
    transform: scale(1.03);
    transition: 900ms;
}
.slider{
    display: flex;
    justify-content: start;
}
.four_section_wrapper_image{
    position: absolute;
    display: flex;
    justify-content: end;
    right: 0;
    margin-top: -1%;
    width: 90%;
}

















@media (max-width: 1155px) {
    .second_section_image{
        margin-left: -60%;
    }
    .second_section_items_second_text{
        margin-left: 50%;
    }
}

@media (max-width: 1150px){
    .fife_section_wrapper_card_img1{

    }


}


@media (max-width: 1024px){
    .fife_section_wrapper_card_img1{
        margin-left: -17px;
    }
}

@media (max-width: 1000px) {
    .second_section_paragraph_item{
        font-size: 160%;
        margin-left: -30%;
    }
    .second_section_items_chapter_item{
        font-size: 100%;
    }
    .second_section_items_paragraph_chapters{
        margin-top: 1%;
    }
    .band-hr{
        width: 90%;
        margin-left: 1%;
    }
    .second_section_image{
        width: 60%;
        margin-left: -20%;
        margin-top: 20%;
    }
    .text_first_paragraph{
        font-size: 150%;
        margin-top: 23%;
    }
    .text_first_title_first{
        font-size: 90%;
        margin-top: 5%;
    }
    .second_section_text_title{
        font-size: 110%;
        margin-top: 3%;
    }
    .second_section_text_image_first{
        width: 10%;
    }
    .second_section_text_image_second{
        width: 10%;
    }
    .second_section_second_text_third{
        margin-top: -5%;
    }
    .second_section_second_third_button{
        margin-top: 5%;
    }
    .second_section_items_second{
        margin-top: -5%;
    }
    .fife_section_wrapper_card_img2{
        margin-left: 7px;
        margin-top: -20%;
    }
}



@media (max-width: 900px) {
    .fife_section_wrapper{
        display:inline;
        float:left;  
        margin-left: 180px;   
    }
    .band{
        width: 70%;
        margin-left: 5%;
    }
    .four_section_wrapper_text_title{
        font-size: 120%;
    }
    .four_section_wrapper_text_title1{
        font-size: 120%;
    }
    .four_section_wrapper_img{
        margin-top: 15%;
    }
    .fife_section_wrapper_card_paragraph{
        padding-top: 9%;
    }
    .fife_section_wrapper_card_paragraph1{
        padding-top: 9%;
    }
    .fife_section_wrapper_card_img1{
        margin-left: 15px;
        margin-top: -230px;
    }
    .second_section_items_second{
        margin-top: 0px;
    }
    .second_section_image{
        margin-top: 40px;
    }
    .second_section_items_second_text{
        margin-top: -90px;
    }
}
    @media (max-width: 840px) {
        .second_section_items_paragraph_text{
            margin-left: -490px;
        }
        .second_section_items_second_text{
            margin-top: -50px;
        }
        .fife_section_wrapper{
            margin-left: 160px;
        }
    }



  @media (max-width: 768px) {
    .first_section{
        width: 100%;
        display: flex;
        justify-content: center ;
        height: 300px;
    }
    .first_section_wrapper{
        display: flex;
        justify-content: center;
    }
    .first_section_item_title{
        font-size: 60px;
        margin-top: 30px;
    }
    .first_section_item_paragraph{
        font-size: 30px;
        width: 310px;
    }
    .first_section_image{
        margin-left: 20px;
        width: 70%;
    }
    .second_section_items_paragraph_text{
        margin-left: -200px;
        font-size: 15px;
        margin-top: 25px;
    }
    .second_section_paragraph_item{
        margin-top: -20px;
        margin-left: 100px;
        width: 490px;
        font-size: 25px;
    }
    .second_section_items_chapter_item{
        font-size: 17px;
    }
    .band{
        font-size: 10px;
        width: 600px;
        margin-left: 280px;
    }
    .fife_section_wrapper_card:first-child{
        margin-left: 180px;
    }
    .second_section_image{
        width: 95%;
        margin-left: -200px;
    }
   .second_section_items_first{
    margin-left: -200px;
   }
   .second_section_items_paragraph_chapters{
    margin-top: 10px;
   }
   .second_section{
    height: 600px;
   }
   .text_first_paragraph{
    margin-top: 30px;
    font-size: 30px;
   }
   .text_first_title_first{
    margin-top: 10px;
    font-size: 15px;
    width: 75%;
   }
   .text_first_title_second{
    font-size: 15px;
   }
   .second_section_text_image_first{
    width: 10%;
   }
   .second_section_text_title{
    font-size: 17px;
    margin-top: 14px;
    margin-left: -10px;
   }
   .second_section_second_text_second{
    margin-top: 20px;
   }
   .second_section_text_image_second{
    width: 10%;
    margin-top: -1px;
    margin-left: -1px;
   }
   .second_section_second_third_title{
    font-size: 13px;
    margin-top: -30px;
    line-height: 17px;
    width: 90%;
   }
    .second_section_second_text_third{
    margin-top: -30px;
   }
   .second_section_second_third_button{
    margin-top: 20px;
   }
   .third_section{
       width: 100%;
    margin-top: -20px;
   }
    .fife_section_wrapper_card{
        width: 200px;
        padding-left: 100px;
    }
    .four_section_wrapper{
        margin-left: 500px;
    }
    
    .second_section_items_paragraph_chapters{
        margin-left: -110px;
    }
    .fife_section_wrapper_card_wrapper{
        width: 570px;
        height: 350px;
        margin-left: -60px;
        margin-top: 50px;
    }
    .fife_section_wrapper_card{
        margin-left: 10px;
        width: 900px;
    }
    .fife_section_wrapper_card1{
        margin-left: 10px;
        width: 900px;
    }
    .second_section_items_second{
        margin-left: 5%;
    }
    .fife_section_wrapper_card_paragraph{
        margin-left: -400px;
    }
    .fife_section_wrapper_card_paragraph1{
        margin-left: -400px;
    }
    .fife_section_wrapper_card_title{
        margin-left: 10px;
    }
    .button_box{
        margin-left: -130px;
    }
    .fife_section_wrapper_card_img2{
        margin-left: 50px;
    }

    .fife_section_wrapper_title{
        margin-top: 150px;
    }
    .first_section_item_text{
        margin-left: -40px;
    }

    .four_section_wrapper_title{
        font-size: 25px;
        margin-left: -200px;
    }
    .four_section_text_img{
        width: 20px;
    }
    .four_section_wrapper_img{
        width: 400px;
        margin-top: 60px;
        position: absolute;
    }
    .four_section{
        height: 250px;
    }
    .fife_section_wrapper_title{
        font-size: 30px;
    }
    .fife_section_wrapper{
        display:inline;
        float:left;  
        margin-left: -80px;
    }
    .fife_section_wrapper_card{
        width: 450px;
        height: 300px;
    }
    .fife_section_wrapper_card_paragraph{
        font-size: 45px;
        padding-top: 30px;
    }
    .fife_section_wrapper_card_img1{
        width: 250px;
        margin-left: -25px;
        margin-top: -235px;
    }
    .fife_section_wrapper_card_title{
        font-size: 18px;
        margin-top: 30px;
    }
    .button_box{
        margin-top: 10px;
    }
    .fife_section_wrapper_card:last-child{
        margin-left: 180px;
    }
    .fife_section_wrapper_card_paragraph1{
        padding-top: 30px;
    }
    .fife_section_wrapper_card_img2{
        width: 250px;
        margin-left: -25px;
        margin-top: -230px;
    }
    .second_section_items_second_text{
        margin-left: 40%;
        margin-top: 20px;
    }
    .four_section_wrapper_text_title1{
        margin-left: -260px;
    }
    .four_section_wrapper_text_title{
        margin-left: -300px;
        width: 500px;
    }
    .four_section_wrapper_text{
        margin-left: -400px;
    }
}      




@media (max-width: 712px) {
    .fife_section_wrapper_card{
        width: 45%;
    }
    .fife_section_wrapper_card_paragraph{
        font-size: 35px;
        width: 140px;
        margin-left: 10%;
    }
    .fife_section_wrapper_card_title{
        font-size: 15px;
        margin-left: 40px;
    }
    .fife_section_wrapper_card_button1{
        width: 40%;
        height: 49px;
    }
    .fife_section_wrapper_card_button2{
        width: 40%;
        height: 49px;
    }
    .button_box{
        width: 90%;
        margin-left: 5%;
        margin-top: -5%;
    }
    .fife_section_wrapper_card{
        height: 260px;
    }
    .fife_section_wrapper_card_img1{
        width: 200px;
        margin-top: -174px;
        margin-left: 8px;
    }
    .second_section_items_second_text{
        margin-top: 5%;
        margin-left: 50%;
    }
    .second_section_image{
        margin-left: -10%;
        width: 60%;
        margin-top: 10%;
    }
    .fife_section_wrapper{
        width: 100%;
        margin-left: -30px;
    }
    .fife_section_wrapper_card_wrapper{
        width: 130%;
        margin-left: -100px;
        height: 260px;
    }
    .band{
        margin-left: 25%;
    }
    .fife_section{
        height: 850px;
    }
}


@media (max-width: 680px){
    .fife_section_wrapper_card_img1{
        width: 190px;
        margin-top: -165px;
        margin-left: 18px;
    }
}


@media (max-width: 650px){
    .fife_section_wrapper_card_img1{
        width: 180px;
        margin-top: -155px;
        margin-left: 22px;
    }
}

@media (max-width: 620px){
    .fife_section_wrapper_card_img1{
        width: 170px;
        margin-top: -146px;
        margin-left: 28px;
    }
    .second_section_image{
        width: 300px;
        margin-left: -270px;
        margin-top: 50px;
        margin-right: 20px;
    }
    .four_section_wrapper_img{
        display: none;
    }
    .second_section_items_paragraph_chapters{
        margin-left: 150px;
    }
    .band-hr{
        margin-left: 30px;
    }
    .second_section_paragraph_item{
        margin-left: 200px;
    }
    .second_section_items_paragraph_text{
        margin-left: -80px;
    }
    .third_section_card_paragraph{
        font-size: 20px;
    }
    .third_section_card_title{
        font-size: 13px;
    }
    .third_section_card_title2{
        font-size: 14px;
    }
    .four_section_wrapper_title{
        margin-left: -90px;
    }
    .fife_section_wrapper{
        margin-left: -55px;
    }
}

@media (max-width: 600px) {
    .second_section_items_second{
        display:inline;
        float:left;  
        position: absolute;
    }
    .second_section{
        height: 900px;
    }
    .second_section_items_second_text{
        width: 400px;
        margin-left: 80px;
    }
    .second_section_image{
        margin-left: 120px;
    }
    .second_section_items_paragraph_chapters{
        margin-left: 200px;
    }
    .text_first_paragraph{
        margin-left: 80px;
    }
    .text_first_title_first{
        margin-left: 40px;
        text-align: center;
    }
    .second_section_second_text_second{
        margin-left: 15px;
    }
    .second_section_second_third_title{
        margin-left: 15px;
        text-align: center;
    }
    .second_section_second_third_button{
        margin-left: 100px;
    }
    .first_section_image{
        width: 250px;
        margin-left: -20px;
    }
}

    @media (max-width: 595px){
    .band-hr{
        width: 400px;
    }        
    .band{
        width: 400px;
    }
    .first_section_image{
        display: none;
    }
    .first_section_item_title{
        font-size: 90px;
    }
    .first_section_item_paragraph{
        text-align: center;
        margin-left: 40px;
    }
    .first_section_item_text{
        margin-left: -90px;
    }
    .fife_section_wrapper_card_img1{
        margin-top: -147px;
        margin-left: 25px;
    }
    .band-hr{
        width: 450px;
        margin-left: 80px;
    }
}

@media (max-width: 580px) {
    .fife_section_wrapper_card_img1{
        margin-top: -147px;
        margin-left: 21px;
    }
}

@media (max-width: 560px){
    .fife_section_wrapper_card_img1{
        margin-top: -148px;
        margin-left: 18px;
    }
    .second_section_items_second{
        margin-left: 5px;
    }
    .second_section_items_paragraph_chapters{
        margin-left: 180px;
    }
    .band-hr{
        margin-left: 70px;
    }
}

@media (max-width: 530px){
    .fife_section_wrapper_card_title{
        line-height: 20px;
    }
    .fife_section_wrapper_card{
        width: 300px;
        margin-left: 130px;
    }
    .fife_section_wrapper_card:last-child{
        width: 300px;
        margin-left: 130px;
    }
    .fife_section_wrapper_card_img1{
        margin-left: 35px;
    }
    .second_section_items_paragraph_chapters{
        margin-left: 220px;
    }
    .band-hr{
        width: 420px;
    }
}